.banner {
  background-size: cover;
  background-position: center;
  height: 55vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 70px;
  font-weight: bold;
  padding-top: 100px;
}

.container {
  text-align: center;
  .btn {
    width : 250px;
    height : 70px;
    font-size: 32px;
    font-weight: bolder;
  }
}

.card-body{
  text-align: center;
  width: 145px;
  height: 191px;
  border: 1px solid;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
